.chat-main
  .chat-main__group-info
    .left-info
      .left-info__name
        Jun Private
      .left-info__members
        Member : Junichiro
    .right-info
      .right-info__edit
        = link_to "#", class: "edit-btn" do
          Edit

  .chat-main__message-list
    .message
      .message__info
        .user-name
          Junichiro
        .date
          2020/06/20(Sat) 15:23:06
      .message__text
        This is the first message!

    .message
      .message__info
        .user-name
          Junichiro
        .date
          2020/06/20(Sat) 15:23:06
      .message__text
        Second message!

    .message
      .message__info
        .user-name
          Junichiro
        .date
          2020/06/20(Sat) 15:23:06
      .message__text
        Third message!

  %form.chat-main__message-form
    .form-box
      %input{type: "text", class: "form-box__text", placeholder: "type a message"}
      %label{class: "form-box__image"}
        = icon('fas', 'image')
        %input{type:"file", class: "form-box__image__file"}

    %input{type: "submit", class: "submit-btn", value: "Send"}
